* {
  margin: 0;
  padding: 0;

} 

body {
  background: url(pictures/manhattanhenge.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.box{
  border-radius: 20px;
  height: auto;
  /* width: 420px; */
  max-width: 420px;
  margin: 15%;
  background: hsla(0, 1%, 23%, 0.767);
  padding: 40px;
  text-align: center;
  color: white;
  font-family: 'Century Gothic', sans-serif; 
}

.box-img{
    border-radius: 10%;
    width:  180px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  padding: 20px;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  display: flex;
  padding: 20px;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 50px;
  transition: all ease-in-out 250ms;
  padding: 15px;
}
.box li a:hover{
  color: #b9b9b9;
} 

@media screen and (max-width: 450px) {
  
  .main {
    height: 100vh;

  }
  .box{
    height: 80vh;
    margin: 7.5%;
    padding: 20px;
  }
  
  .box-img{
      width:  150px;
  }
  .box h1{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    padding: 10px;
  }
  .box h5{
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    display: flex;
    padding: 20px;
    font-size: 15px;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: all ease-in-out 250ms;
    padding: 15px;
  }
  .box li a:hover{
    color: #b9b9b9;
  } 
}

 